*.swp
*.swo
*.swn
*.swm
*.swl
orchestration/output/*
orchestration/prev-run/*
orchestration/__pycache__
!orchestration/output/.keep
containers/edge/auth-server/auth-server
/orchestration.egg-info/

venv/

orchestration.egg-info/

*.log
