*.swp
*.swo
*.swn
*.swm
*.swl
orchestration/output/*
orchestration/prev-run/*
orchestration/__pycache__
!orchestration/output/.keep
containers/edge/auth-server/auth-server
/orchestration.egg-info/

venv/

orchestration.egg-info/
*.egg-info/
build/
dist/
*.pyc
__pycache__/
*.log

# config
input/config/global_config.yml
