acl external {

};

acl internal {

};

// List other trusted name servers that are allowed to request zone transfers:
acl transfer-peers {

};

// Suppress all of the "unexpected RCODE REFUSED" errors in syslog.
logging {
        category lame-servers {
                null;
        };
};

// Prevent 'named[xxxx]: connect(fe80::#53) 22/Invalid argument'
// https://kb.isc.org/article/AA-00537/0/Why-does-named-log-error-22-Invalid-argument-quoting-an-IPv6-address-starting-with-fe80%3A-.html.

server fe80::/16 { bogus yes; };

options {
        directory "/var/cache/bind";

        forwarders {
                1.1.1.1;
                8.8.8.8;
                8.8.4.4;
        };

        //========================================================================
        // If BIND logs error messages about the root key being expired,
        // you will need to update your keys.  See https://www.isc.org/bind-keys
        //========================================================================

        version "really";
        //dnssec-enable yes;
        dnssec-validation yes;
        //dnssec-lookaside auto;

        auth-nxdomain no;    # conform to RFC1035
        listen-on {
                127.0.0.1;
                172.17.0.1;  # docker host XXX FIXME
        };
        listen-on-v6 { any; };
        recursion yes;
        allow-recursion {
                127.0.0.1;
                internal;
                external;
        };
};

controls {
        inet 127.0.0.1 allow { localhost; }
        keys { test-key; };
};

key test-key {
        algorithm hmac-md5;
        secret "secret";
};
