certs:
  datetime_retrieved: "2021-06-15_11:47:03"
  autodeflect_certs_dir: "/opt/deflect/modules/autodeflect/certs/letsencrypt/"
  ssl_output_dir: "todo: dependent on timestamp?"
dnets:
  - dnet1
  - dnet2
  - svdnet
log:
  level: "DEBUG"
  file: "/path/to/deflect_next.log"
output:
  banjax-next: "again time depended ... rethink"
elastic:
  username: "username"
  password: "***"
new_probability: 10
docker:
  registry: "username/test"  # todo: need different repos for different image kinds
  username: "username"
  password: "password"