$TTL    300
@       IN      SOA     {{ name }}. root.{{ name }}. (
                     {{ serial }}         ; Serial
                            300         ; Refresh
                            300         ; Retry
                        2419200         ; Expire
                            300 )       ; Negative Cache TTL
;
@       IN      NS      ns1.{{ name }}.
@       IN      NS      ns2.{{ name }}.
@       IN      A       {{ ip }}
ns1     IN      A       {{ ip }}
ns2     IN      A       {{ ip }}
